    
<h3>Welcome to Profikio!</h3>

<h4>Teachers</h4>
<%= link_to "Create Account", new_user_path, class: 'btn btn-sm btn-success' %>
<%= link_to "Sign In", new_session_path, class: 'btn btn-sm btn-success' %>

<h4>Teaching Assistants</h4>
<%= link_to "Create Account", new_user_path, class: 'btn btn-sm btn-success' %>
<%= link_to "Sign In", new_session_path, class: 'btn btn-sm btn-success' %>
