<% teacher = Teacher.find_by(id: params["id"]) %>

<h3>Teacher Name: <%=teacher.name%></h3>

<p>School: <%=teacher.school%></p>
<p>Subject(s): <%=teacher.subject%></p>
<p>Grade(s): <%=teacher.grade%></p>